
.job-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding:60px;
   
  
  }
  
  .job-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
